<a href="https://colab.research.google.com/github/Sushantstha2025/AI_worksheet/blob/main/Worksheet3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/datasets/Copy of Titanic-Dataset.csv")
df.info()

fare = df["Fare"]
print(fare.head())

class_age = df[["Pclass", "Age"]]
print(class_age.head())

survived_gender = df[["Survived", "Sex"]]
print(survived_gender.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
0     7.2500
1    71.2833
2     7.9250
3    53.1000
4     8.0500
Name: Fare, dtype: float64
   Pclass   Age
0       3  22.0
1       1  38.0
2       3  26.0
3       1  35.0
4       3  35.0
   Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male

In [ ]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/datasets/Copy of Titanic-Dataset.csv")
fare_gt_100 = df[df["Fare"]>100]
print(fare_gt_100)

first_class = df[df["Pclass"]==1]
print(first_class)

female_under_18 = df[(df["Age"]<=18) & (df["Sex"]=="female")]
print(female_under_18)

     PassengerId  Survived  Pclass  \
27            28         0       1
31            32         1       1
88            89         1       1
118          119         0       1
195          196         1       1
215          216         1       1
258          259         1       1
268          269         1       1
269          270         1       1
297          298         0       1
299          300         1       1
305          306         1       1
306          307         1       1
307          308         1       1
311          312         1       1
318          319         1       1
319          320         1       1
325          326         1       1
332          333         0       1
334          335         1       1
337          338         1       1
341          342         1       1
373          374         0       1
377          378         0       1
380          381         1       1
390          391         1       1
393          394         1       1
435          436         1       1
438          439         0       1
498          499         0       1
505          506         0       1
527          528         0       1
537          538         1       1
544          545         0       1
550          551         1       1
557          558         0       1
581          582         1       1
609          610         1       1
659          660         0       1
660          661         1       1
679          680         1       1
689          690         1       1
698          699         0       1
700          701         1       1
708          709         1       1
716          717         1       1
730          731         1       1
737          738         1       1
742          743         1       1
763          764         1       1
779          780         1       1
802          803         1       1
856          857         1       1

                                                  Name     Sex    Age  SibSp  \
27                      Fortune, Mr. Charles Alexander    male  19.00      3
31      Spencer, Mrs. William Augustus (Marie Eugenie)  female    NaN      1
88                          Fortune, Miss. Mabel Helen  female  23.00      3
118                           Baxter, Mr. Quigg Edmond    male  24.00      0
195                               Lurette, Miss. Elise  female  58.00      0
215                            Newell, Miss. Madeleine  female  31.00      1
258                                   Ward, Miss. Anna  female  35.00      0
268      Graham, Mrs. William Thompson (Edith Junkins)  female  58.00      0
269                             Bissette, Miss. Amelia  female  35.00      0
297                       Allison, Miss. Helen Loraine  female   2.00      1
299    Baxter, Mrs. James (Helene DeLaudeniere Chaput)  female  50.00      0
305                     Allison, Master. Hudson Trevor    male   0.92      1
306                            Fleming, Miss. Margaret  female    NaN      0
307  Penasco y Castellana, Mrs. Victor de Satode (M...  female  17.00      1
311                         Ryerson, Miss. Emily Borie  female  18.00      2
318                           Wick, Miss. Mary Natalie  female  31.00      0
319  Spedden, Mrs. Frederic Oakley (Margaretta Corn...  female  40.00      1
325                           Young, Miss. Marie Grice  female  36.00      0
332                          Graham, Mr. George Edward    male  38.00      0
334  Frauenthal, Mrs. Henry William (Clara Heinshei...  female    NaN      1
337                    Burns, Miss. Elizabeth Margaret  female  41.00      0
341                     Fortune, Miss. Alice Elizabeth  female  24.00      3
373                                Ringhini, Mr. Sante    male  22.00      0
377                          Widener, Mr. Harry Elkins    male  27.00      0
380                              Bidois, Miss. Rosalie  female  42.00      0
390                         Carter, Mr. William Ernest    male  36.00      1
393                             Newell, Miss. Marjorie  female  23.00      1
435                          Carter, Miss. Lucile Polk  female  14.00      1
438                                  Fortune, Mr. Mark    male  64.00      1
498    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female  25.00      1
505         Penasco y Castellana, Mr. Victor de Satode    male  18.00      1
527                                 Farthing, Mr. John    male    NaN      0
537                                LeRoy, Miss. Bertha  female  30.00      0
544                         Douglas, Mr. Walter Donald    male  50.00      1
550                        Thayer, Mr. John Borland Jr    male  17.00      0
557                                Robbins, Mr. Victor    male    NaN      0
581  Thayer, Mrs. John Borland (Marian Longstreth M...  female  39.00      1
609                          Shutes, Miss. Elizabeth W  female  40.00      0
659                         Newell, Mr. Arthur Webster    male  58.00      0
660                      Frauenthal, Dr. Henry William    male  50.00      2
679                 Cardeza, Mr. Thomas Drake Martinez    male  36.00      0
689                  Madill, Miss. Georgette Alexandra  female  15.00      0
698                           Thayer, Mr. John Borland    male  49.00      1
700  Astor, Mrs. John Jacob (Madeleine Talmadge Force)  female  18.00      1
708                               Cleaver, Miss. Alice  female  22.00      0
716                      Endres, Miss. Caroline Louise  female  38.00      0
730                      Allen, Miss. Elisabeth Walton  female  29.00      0
737                             Lesurer, Mr. Gustave J    male  35.00      0
742              Ryerson, Miss. Susan Parker "Suzette"  female  21.00      2
763          Carter, Mrs. William Ernest (Lucile Polk)  female  36.00      1
779  Robert, Mrs. Edward Scott (Elisabeth Walton Mc...  female  43.00      0
802                Carter, Master. William Thornton II    male  11.00      1
856         Wick, Mrs. George Dennick (Mary Hitchcock)  female  45.00      1

     Parch    Ticket      Fare            Cabin Embarked
27       2     19950  263.0000      C23 C25 C27        S
31       0  PC 17569  146.5208              B78        C
88       2     19950  263.0000      C23 C25 C27        S
118      1  PC 17558  247.5208          B58 B60        C
195      0  PC 17569  146.5208              B80        C
215      0     35273  113.2750              D36        C
258      0  PC 17755  512.3292              NaN        C
268      1  PC 17582  153.4625             C125        S
269      0  PC 17760  135.6333              C99        S
297      2    113781  151.5500          C22 C26        S
299      1  PC 17558  247.5208          B58 B60        C
305      2    113781  151.5500          C22 C26        S
306      0     17421  110.8833              NaN        C
307      0  PC 17758  108.9000              C65        C
311      2  PC 17608  262.3750  B57 B59 B63 B66        C
318      2     36928  164.8667               C7        S
319      1     16966  134.5000              E34        C
325      0  PC 17760  135.6333              C32        C
332      1  PC 17582  153.4625              C91        S
334      0  PC 17611  133.6500              NaN        S
337      0     16966  134.5000              E40        C
341      2     19950  263.0000      C23 C25 C27        S
373      0  PC 17760  135.6333              NaN        C
377      2    113503  211.5000              C82        C
380      0  PC 17757  227.5250              NaN        C
390      2    113760  120.0000          B96 B98        S
393      0     35273  113.2750              D36        C
435      2    113760  120.0000          B96 B98        S
438      4     19950  263.0000      C23 C25 C27        S
498      2    113781  151.5500          C22 C26        S
505      0  PC 17758  108.9000              C65        C
527      0  PC 17483  221.7792              C95        S
537      0  PC 17761  106.4250              NaN        C
544      0  PC 17761  106.4250              C86        C
550      2     17421  110.8833              C70        C
557      0  PC 17757  227.5250              NaN        C
581      1     17421  110.8833              C68        C
609      0  PC 17582  153.4625             C125        S
659      2     35273  113.2750              D48        C
660      0  PC 17611  133.6500              NaN        S
679      1  PC 17755  512.3292      B51 B53 B55        C
689      1     24160  211.3375               B5        S
698      1     17421  110.8833              C68        C
700      0  PC 17757  227.5250          C62 C64        C
708      0    113781  151.5500              NaN        S
716      0  PC 17757  227.5250              C45        C
730      0     24160  211.3375               B5        S
737      0  PC 17755  512.3292             B101        C
742      2  PC 17608  262.3750  B57 B59 B63 B66        C
763      2    113760  120.0000          B96 B98        S
779      1     24160  211.3375               B3        S
802      2    113760  120.0000          B96 B98        S
856      1     36928  164.8667              NaN        S
     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
11            12         1       1
23            24         1       1
..           ...       ...     ...
871          872         1       1
872          873         0       1
879          880         1       1
887          888         1       1
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                              McCarthy, Mr. Timothy J    male  54.0      0
11                            Bonnell, Miss. Elizabeth  female  58.0      0
23                        Sloper, Mr. William Thompson    male  28.0      0
..                                                 ...     ...   ...    ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch    Ticket     Fare        Cabin Embarked
1        0  PC 17599  71.2833          C85        C
3        0    113803  53.1000         C123        S
6        0     17463  51.8625          E46        S
11       0    113783  26.5500         C103        S
23       0    113788  35.5000           A6        S
..     ...       ...      ...          ...      ...
871      1     11751  52.5542          D35        S
872      0       695   5.0000  B51 B53 B55        S
879      1     11767  83.1583          C50        C
887      0    112053  30.0000          B42        S
889      0    111369  30.0000         C148        C

[216 rows x 12 columns]
     PassengerId  Survived  Pclass                                     Name  \
9             10         1       2      Nasser, Mrs. Nicholas (Adele Achem)
10            11         1       3          Sandstrom, Miss. Marguerite Rut
14            15         0       3     Vestrom, Miss. Hulda Amanda Adolfina
22            23         1       3              McGowan, Miss. Anna "Annie"
24            25         0       3            Palsson, Miss. Torborg Danira
..           ...       ...     ...                                      ...
830          831         1       3  Yasbeck, Mrs. Antoni (Selini Alexander)
852          853         0       3                  Boulos, Miss. Nourelain
853          854         1       1                Lines, Miss. Mary Conover
855          856         1       3               Aks, Mrs. Sam (Leah Rosen)
875          876         1       3         Najib, Miss. Adele Kiamie "Jane"

        Sex   Age  SibSp  Parch    Ticket     Fare Cabin Embarked
9    female  14.0      1      0    237736  30.0708   NaN        C
10   female   4.0      1      1   PP 9549  16.7000    G6        S
14   female  14.0      0      0    350406   7.8542   NaN        S
22   female  15.0      0      0    330923   8.0292   NaN        Q
24   female   8.0      3      1    349909  21.0750   NaN        S
..      ...   ...    ...    ...       ...      ...   ...      ...
830  female  15.0      1      0      2659  14.4542   NaN        C
852  female   9.0      1      1      2678  15.2458   NaN        C
853  female  16.0      0      1  PC 17592  39.4000   D28        S
855  female  18.0      0      1    392091   9.3500   NaN        S
875  female  15.0      0      0      2667   7.2250   NaN        C

[68 rows x 12 columns]

In [ ]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/datasets/Copy of Titanic-Dataset.csv")

embarked_c_or_s = df[(df["Embarked"] == "C") | (df["Embarked"] == "S")]
print(embarked_c_or_s)

first_second_class = df[df["Pclass"].isin([1,2])]
print(first_second_class)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
884          885         0       3
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
884                             Sutehall, Mr. Henry Jr    male  25.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
884      0   SOTON/OQ 392076   7.0500   NaN        S
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C

[812 rows x 12 columns]
     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
9             10         1       2
11            12         1       1
..           ...       ...     ...
880          881         1       2
883          884         0       2
886          887         0       2
887          888         1       1
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                              McCarthy, Mr. Timothy J    male  54.0      0
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
..                                                 ...     ...   ...    ...
880       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.0      0
883                      Banfield, Mr. Frederick James    male  28.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch            Ticket     Fare Cabin Embarked
1        0          PC 17599  71.2833   C85        C
3        0            113803  53.1000  C123        S
6        0             17463  51.8625   E46        S
9        0            237736  30.0708   NaN        C
11       0            113783  26.5500  C103        S
..     ...               ...      ...   ...      ...
880      1            230433  26.0000   NaN        S
883      0  C.A./SOTON 34068  10.5000   NaN        S
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
889      0            111369  30.0000  C148        C

[400 rows x 12 columns]

In [ ]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/datasets/Copy of Titanic-Dataset.csv")

df.interpolate(method="linear", axis=0, inplace=True)   # interpolated because fare and age contained null values.
df["fare_per_year"] = df["Fare"]/df["Age"]
print(df["fare_per_year"])

high_fare_age = df[df["fare_per_year"]>5]

high_fare_age_srt = high_fare_age.sort_values(by="fare_per_year", ascending=False)

result = df[["Name", "fare_per_year"]]
print(result)

0      0.329545
1      1.875876
2      0.304808
3      1.517143
4      0.230000
         ...
886    0.481481
887    1.578947
888    1.042222
889    1.153846
890    0.242188
Name: fare_per_year, Length: 891, dtype: float64
                                                  Name  fare_per_year
0                              Braund, Mr. Owen Harris       0.329545
1    Cumings, Mrs. John Bradley (Florence Briggs Th...       1.875876
2                               Heikkinen, Miss. Laina       0.304808
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)       1.517143
4                             Allen, Mr. William Henry       0.230000
..                                                 ...            ...
886                              Montvila, Rev. Juozas       0.481481
887                       Graham, Miss. Margaret Edith       1.578947
888           Johnston, Miss. Catherine Helen "Carrie"       1.042222
889                              Behr, Mr. Karl Howell       1.153846
890                                Dooley, Mr. Patrick       0.242188

[891 rows x 2 columns]

/tmp/ipython-input-1876307660.py:4: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate(method="linear", axis=0, inplace=True)   # interpolated because fare and age contained null values.

In [ ]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/datasets/Copy of Titanic-Dataset.csv")

df["fare_per_class"] = df["Fare"]/df["Pclass"]
adult_males = df[(df["Sex"]=="male") & (df["Age"]>=18)]

adult_males_srt = adult_males.sort_values(by="fare_per_class", ascending=False)
result = df[["Name", "Age", "fare_per_class"]]
print(result)

                                                  Name   Age  fare_per_class
0                              Braund, Mr. Owen Harris  22.0        2.416667
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0       71.283300
2                               Heikkinen, Miss. Laina  26.0        2.641667
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0       53.100000
4                             Allen, Mr. William Henry  35.0        2.683333
..                                                 ...   ...             ...
886                              Montvila, Rev. Juozas  27.0        6.500000
887                       Graham, Miss. Margaret Edith  19.0       30.000000
888           Johnston, Miss. Catherine Helen "Carrie"   NaN        7.816667
889                              Behr, Mr. Karl Howell  26.0       30.000000
890                                Dooley, Mr. Patrick  32.0        2.583333

[891 rows x 3 columns]

In [ ]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/datasets/Copy of Titanic-Dataset.csv")

total_fare_paid = df["Fare"].sum()

first_class_total_fare = df[df["Pclass"] == 1]["Fare"].sum()
print(first_class_total_fare)

second_class_total_fare = df[df["Pclass"] == 2]["Fare"].sum()
print(second_class_total_fare)

third_class_total_fare = df[df["Pclass"] == 3]["Fare"].sum()
print(third_class_total_fare)

fare_list = [first_class_total_fare, second_class_total_fare, third_class_total_fare]
fare_list = [fare_revenue/total_fare_paid for fare_revenue in fare_list]
print(fare_list)

18177.4125
3801.8417
6714.6951
[np.float64(0.6334928771899656), np.float64(0.1324962855496507), np.float64(0.23401083726038366)]

In [ ]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/datasets/Copy of Titanic-Dataset.csv")

df["age_group"] = pd.cut(df["Age"], bins=[0, 18, 65, float("inf")], labels=["child", "adult", "senior"], right=False)
print(df["age_group"])

total_passengers = len(df["Name"])
print(total_passengers)

# print(df.tail(1)["PassengerId"])  # it is much faster than calculating the length

# total_passenger_by_age = df.groupby("age_group")["PassengerId"].count()  # pandas groups each age_group and converts it into rows and assigns it an id, so simply counting the passenger id for each label gives the total number.
# print(total_passenger_by_age)

total_passenger_by_age = df["age_group"].value_counts()

total_passenger_by_age = total_passenger_by_age / total_passengers

for value in total_passenger_by_age:
  percentage_str = f"{value*100:.2f}%"
  print(percentage_str)

0      adult
1      adult
2      adult
3      adult
4      adult
       ...
886    adult
887    adult
888      NaN
889    adult
890    adult
Name: age_group, Length: 891, dtype: category
Categories (3, object): ['child' < 'adult' < 'senior']
891
66.22%
12.68%
1.23%